<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDv7TFNA4JA60RQx9G_7-xdHajm6fEFCc4</string>
	<key>GCM_SENDER_ID</key>
	<string>12358600811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.counterTest</string>
	<key>PROJECT_ID</key>
	<string>appflutterejemplo</string>
	<key>STORAGE_BUCKET</key>
	<string>appflutterejemplo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12358600811:ios:db63c7bc541862fbd7c92e</string>
</dict>
</plist>